<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add connectionString="mongodb://nitprodevnosql:ep6Tufk1pL007md5dFGM4inzyKFHi0cCjZZiFH5DAv9FQKpZHSCVRYQ4AvnyEmTJAUqDex1qiCc3qORnyJaNGg==@nitprodevnosql.documents.azure.com:10250/MyConfigDB?ssl=true&amp;sslverifycertificate=false" name="AzureMongoConnectionString"/>
    <add connectionString="mongodb://localhost:C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==@localhost:10250/admin?ssl=true&amp;3t.sslSelfSignedCerts=true" name="DocumentDBEmulatorConnectionString"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account-name;AccountKey=account-key"/>-->
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;"/>
  </appSettings>
</configuration>